extends layout


block content


    form(action="/register" method="post")
        div
            label(for="username") Username:
            input(type="text" name="username" id="username")
        div
            label(for="password") Password:
            input(type="text" name="password" id="password")
        div
            label(for="fName") First Name:
            input(type="text" name="fName" id="fName")
        div
            label(for="lName") Last Name:
            input(type="text" name="lName" id="lName")
        div
            label(for="email") Email:
            input(type="email" name="email" id="email")
        div
            input(type="submit" value="Register")